In [7]:
import sqlite3
import pandas as pd

# Path to the SQLite database file
db_file = ""

# Connect to the SQLite database
conn = sqlite3.connect(db_file)

#get data into pandas DFs
query = "SELECT * FROM specialties" 
specialties = pd.read_sql_query(query, conn)
query = "SELECT * FROM procedures" 
procedures = pd.read_sql_query(query, conn)
query = "SELECT * FROM procedure_association"  
procedure_association = pd.read_sql_query(query, conn)
query = "SELECT * FROM surgeries" 
surgeries = pd.read_sql_query(query, conn)
query = "SELECT * FROM sessions"
sessions = pd.read_sql_query(query, conn)

SyntaxError: invalid syntax (515879807.py, line 5)

In [ ]:
specialties.head(5)

   id                                    name
0   0                         General Surgery
1   1                    Orthopaedic Services
2   2                    Gynaecology Services
3   3  Ear, Nose and Throat Surgical Services
4   4                        Urology Services

In [ ]:
procedures.head(5)

   id                                      description         code
0   1             bowel resection  hartmanns procedure   16564004.0
1   2                                       laparotomy   86481000.0
2   3       peritoneal lavage  intra abdominal washout          NaN
3   4  excisional debridement  wound infection or burn  473218004.0
4   5                           orif  tibia and fibula  702489005.0

In [ ]:
procedure_association.head(5)

   surgeries_id  procedures_id
0             1              2
1            60              2
2            79              2
3            98              2
4           131              2

In [ ]:
#filter surgeries so planned = 1
surgeries = surgeries[surgeries['planned']==1]
#engineer surgery_overtime
def calculate_overtime(row):
    return max(0, row['total_duration'] - row['scheduled_duration'])
surgeries['surgery_overtime'] = surgeries.apply(lambda row: calculate_overtime(row),axis=1)

NameError: name 'surgeries' is not defined

In [ ]:
surgeries

NameError: name 'surgeries' is not defined

In [ ]:
#filter surgeries so planned = 1
sessions = sessions[sessions['planned']==1]
sessions.head()

,id,specialty_id,facility,planned,surgical_consultant_id,start_time,duration,theatre_number
0,1,1,A,1,36,2016-03-01 08:00:00.000000,540.0,1.0
1,2,1,A,1,33,2015-04-01 08:00:00.000000,540.0,1.0
2,3,1,A,1,59,2016-04-01 08:00:00.000000,540.0,1.0
3,4,1,A,1,59,2016-06-01 08:00:00.000000,540.0,1.0
4,5,1,A,1,59,2015-07-01 08:00:00.000000,540.0,1.0

In [ ]:
import sweetviz as sv

# Analyze the DataFrame
report_surgeries = sv.analyze(surgeries)
report_sessions = sv.analyze(sessions)

                                             |          | [  0%]   00:00 -> (? left)

                                             |          | [  0%]   00:00 -> (? left)

In [ ]:
# Display the sessions exploratory analysis
report_sessions.show_html("sweetviz_report.html")

In [ ]:
# Display the surgeries exploratory analysis
report_surgeries.show_html("sweetviz_report.html")

Report sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## Questions
- What are the different admission types A: waiting list, arranged admissions
- What are the different asa ratings? A: 1-4
- How many surgeries run overtime? A: Just under 30%
- Do planned and emergency surgeries share surgery session resources?
- What are the different facilities? A: A,B,C
- What's the difference between arrival and due date datetimes?
- What is arranged admissions?
- What's predicted duration?
- Is turnaround_time considered in shceduled_duration?